beautifulsoup4==4.12.3
feedparser==6.0.11
google==3.0.0
googlesearch_python==1.2.3
Jinja2==3.1.4
lameenc==1.7.0
openai==1.14.3
PyAudio==0.2.13
pygame==2.5.2
pynput==1.7.6
PyYAML==6.0
PyYAML==6.0.1
Requests==2.31.0
